<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jang.hjk.mapper.BoardMapper">
    
    <select id = "getLibraryAll" resultType="hashmap">
    	<![CDATA[
        	SELECT l_num, ma_num, l_name, l_file, l_content, to_char(l_reg,'YYYY.MM.DD') l_reg, l_hits
        	FROM ( SELECT ROWNUM AS rnum, a.*
        			FROM ( SELECT l_num, ma_num, l_name, l_file, l_content, l_reg, l_hits
        					FROM library order by l_num desc ) a
        			WHERE ROWNUM <= #{endRow})
        	WHERE rnum >= #{startRow}
        ]]>
	</select>
	
    <select id = "getQnaAll" resultType="hashmap">
    	<![CDATA[
        	SELECT q_num, m_num, m_id, ma_num, q_name, q_content, q_hits, q_scretpass, q_file, to_char(q_date,'YYYY.MM.DD') q_date
        	FROM ( SELECT ROWNUM AS rnum, a.*
        			FROM ( SELECT q_num, m_num, ma_num, q_name, q_content, q_hits, q_scretpass, q_file, q_date
        					FROM qna order by q_num desc ) a
        			WHERE ROWNUM <= #{endRow}) 
        			left outer join member using (m_num)
        	WHERE rnum >= #{startRow} 
        ]]>
	</select>
	
    <select id="libContentView" resultType="Library">
        SELECT l_num,
        	ma_num,
        	l_name,
        	l_file,
        	l_content,
        	to_char(l_reg,'YYYY.MM.DD') l_reg, 
        	l_hits
        FROM library
		WHERE l_num = #{l_num}
    </select>
    
    <update id="updateHitsCnt">
		UPDATE library
		SET
		l_hits=l_hits+1
		WHERE l_num = #{l_num}
	</update>
	
    <select id="getTotalArticle" resultType="int">
		SELECT count(*) AS totalrow
		FROM library
	</select>

    <select id="qnaContentView" resultType="Qna">
        SELECT q_num,
        	m_num,
        	m_id,
        	ma_num,
        	q_name,
        	q_content,
        	q_hits,
        	q_scretpass,
        	q_file,
        	to_char(q_date,'YYYY.MM.DD') q_date
        FROM qna left outer join member using (m_num)
		WHERE q_num = #{q_num}
    </select>
	
    <select id="getQnaTotal" resultType="int">
		SELECT count(*) AS totalrow
		FROM qna
	</select>
	
    <insert id="qnainsert">
		INSERT INTO QNA VALUES (
			 q_seq.nextval
			,#{m_num}
			,#{ma_num}
			,#{q_name}
			,#{q_content}
			,#{q_hits}
			,#{q_scretpass}
			,#{q_file}
			,sysdate
		)
    </insert>
    
     <update id="qnaupdate">
		UPDATE qna
		SET q_name = #{q_name}, 
			q_content = #{q_content}, 
			q_scretpass = #{q_scretpass}, 
			q_file = #{q_file}
		WHERE q_num = #{q_num}
	</update>
	
	<delete id="qnadel">
		DELETE
		FROM qna
		WHERE q_num = #{q_num}
	</delete>
	
    <select id = "getCommentsAll">
        SELECT *
        FROM comments
    </select>
    
    <select id = "getMyqna" resultType="Qna">
        SELECT q_num, m_num, q_name, q_content, q_hits, q_scretpass, q_file, to_char(q_date,'YYYY.MM.DD') q_date
        FROM qna 
        WHERE m_num = (SELECT m_num
        			   FROM member 
        			   WHERE m_id = #{m_id})
    </select>
</mapper>
