<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jang.hjk.mapper.OrdersMapper">
    
     <select id="myCart" resultType="hashmap">
        SELECT ca_num, cart_name, p_num, p_name, p_fixed, p_img, m_num, m_name, pc_name
		FROM cart left outer join member using(m_num)
          		  left outer join parts using (p_num)
          		  left outer join parts_code using (pc_code)
		WHERE m_num = #{m_num}
    </select>
    
    <select id="findPNum" resultType="String">
        SELECT p_num
        FROM cartpart
        WHERE m_num = #{m_num}
    </select>
    
    <select id="myCartpart" resultType="hashmap">
        SELECT p_num, p_name, p_fixed, p_img, m_num, m_name
		FROM cartpart left outer join member using(m_num)
          		      left outer join parts using (p_num)
		WHERE m_num = #{m_num}
    </select>
    
    <select id="cartSum" resultType="String">
        SELECT p_fixed
        FROM cartpart left outer join parts using(p_num)
        WHERE m_num = #{m_num}
    </select>
    
    <insert id="insertCart">
        INSERT INTO cart VALUES (
        	ca_seq.nextval,
        	#{p_num},
        	#{m_num},
        	#{cart_name}       
        )
    </insert>
    
    <insert id="insertCartpart">
        INSERT INTO cartpart VALUES (
        	#{p_num},
        	#{m_num}     
        )
    </insert>
    
    <delete id="deleteOneCartpart" parameterType="com.jang.hjk.model.Cartpart">
        DELETE
        FROM cartpart
        WHERE p_num = #{p_num} AND m_num = #{m_num}
    </delete>
    
    <insert id="insertOrders">
        INSERT INTO orders (
        	o_num,
        	m_num,
        	o_date,
        	o_ototal,
        	o_del,
        	o_dis,
        	o_sum,
        	o_way,
        	zip_code,
        	o_payee,
        	o_pphone,
        	o_addr,
        	o_state
        )
        VALUES (
        	o_seq.nextval,
        	#{m_num},
        	sysdate,
        	#{o_ototal},
        	#{o_del},
        	#{o_dis},
        	#{o_sum},
        	#{o_way},
        	#{zip_code},
        	#{o_payee},
        	#{o_pphone},
        	#{o_addr},
        	'1'  
        )
    </insert>
    
    <insert id="insertOrdersDetail">
        INSERT INTO order_detail (
        	o_num,
        	p_num
        )
        VALUES (
        	 #{o_num},
        	 #{p_num}
        )
    </insert>
    
    <select id="chkOrderSeq" resultType="java.lang.Integer">
        SELECT o_seq.currval FROM dual
    </select>
    
    <select id="getOrderPartsList" resultType="hashmap">
        SELECT o_num, orders.m_num, to_char(o_date,'YYYY.MM.DD'), o_ototal, o_del, o_dis, o_sum, o_way,
        	   m_name, p_num, p_name, p_fixed, p_dis
		FROM orders left outer join member on (member.m_num = orders.m_num)
            		left outer join order_detail using (o_num)
            		left outer join parts using (p_num)
		WHERE o_num = #{o_num}
    </select>
    
    <select id="getOrderList" resultType="Orders">
        SELECT o_num, orders.m_num, to_char(o_date,'YYYY.MM.DD'), o_ototal, o_del, o_dis, o_sum, o_way, o_payee, o_pphone, o_addr, o_state, orders.zip_code, 
        m_name
		FROM orders left outer join member on (member.m_num = orders.m_num)
		WHERE o_num = #{o_num}
    </select>
    
    <update id="minorAmount">
        UPDATE parts 
        SET p_amount = p_amount - 1
        WHERE p_num = #{p_num}
    </update>

    <select id="chkCartname" resultType="hashmap">
        SELECT DISTINCT cart_name
		FROM cart 
		WHERE m_num = #{m_num}
    </select>
    
    <delete id="deleteGyunCart">
        DELETE
		FROM cart
		WHERE cart_name = #{cart_name}
    </delete>
    
    <select id="mytotalorders" resultType="Orders">
	    SELECT *
	    FROM orders
	    WHERE m_num = (SELECT m_num        
	    			   FROM member
	    			   WHERE m_id = #{m_id})
    </select>
    
</mapper>
