<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jang.hjk.mapper.PartsMapper">
    
    <select id = "getPccode" resultType="hashMap">
        SELECT *
        FROM parts_code
    </select>
    
    <select id = "getParts" resultType="hashMap">
        SELECT p_num, 
        	c_num, 
        	pc_code, 
        	pc_name,
        	p_name, 
        	p_fixed, 
        	p_dis, 
        	p_amount, 
        	p_img, 
        	p_memo, 
        	p_hits, 
        	c_name,
        	p_socket,
        	p_power
        FROM parts left outer join company using (c_num)
        		   left outer join parts_code using (pc_code)
        WHERE pc_code= #{pc_code}
    </select>
    
    <select id = "getvaildsocket" resultType="hashMap">
        SELECT *
       FROM parts
       WHERE pc_code = #{pc_code} AND p_socket = #{p_socket}
    </select>
    
    <select id = "getvaildpower" resultType="hashMap">
        SELECT *
       FROM parts
       WHERE pc_code = #{pc_code} AND p_power >= #{p_power}
    </select>
    
    <select id = "getgyunvaild"  resultType="Parts">
        SELECT p_socket,
        	p_name,
        	p_power,
        	pc_code
        FROM parts
        WHERE p_name = #{p_name}
    </select>
    
    <select id = "getPartscontent" resultType="Parts">
        SELECT p_num, 
        	c_num, 
        	pc_code, 
        	p_name, 
        	pc_name,
        	p_fixed, 
        	p_dis, 
        	p_amount, 
        	p_img, 
        	p_memo, 
        	p_hits, 
        	c_name
		FROM parts left outer join company using (c_num)
				    left outer join parts_code using (pc_code)
		WHERE p_num = #{p_num}
    </select>
     
</mapper>
